/*
0-600px Phone
600-900px Tablet potrait
900-1200px Tbalet landscape
1200-1800 normal styles
1800px +Big desktops
breakpoint arguement choices
-smallPhone
-phone
-tabPort
-tabLand
-bigDesktop
 1em =16px
*/
.headingPrimary {
  margin-left: 3rem;
}

.headingPrimary h1 {
  font-size: 3rem;
  text-align: start;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  line-height: 4rem;
  letter-spacing: 0px;
}

.text {
  margin: 3rem;
  width: 46rem;
}

@media (max-width: 75em) {
  .text {
    width: 32rem;
  }
}

.text p {
  color: gray;
  font-size: 1.5rem;
  line-height: 1.8rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  width: 100%;
}

.navbar {
  overflow: hidden;
  top: 5%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbarLogo {
  background-image: url(../../images/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 3rem;
  width: 13rem;
  margin-left: 5%;
  float: left;
}

.navbarSocialMediaNav {
  position: absolute;
  right: 5%;
  top: 5%;
}

.navbarSocialMediaNav li {
  display: inline-block;
  margin-left: 3rem;
}

.navbarSocialMediaNav li:first-child {
  margin: 0;
}

.navbarSocialMediaNav li a:-webkit-any-link {
  text-decoration: none;
  font-size: 2.5rem;
  color: #070439;
}

.navbarSocialMediaNav li a:-moz-any-link {
  text-decoration: none;
  font-size: 2.5rem;
  color: #070439;
}

.navbarSocialMediaNav li a:any-link {
  text-decoration: none;
  font-size: 2.5rem;
  color: #070439;
}

@media (max-width: 75em) {
  .navbarSocialMediaNav li a:-webkit-any-link {
    font-size: 2rem;
    color: #fff;
  }
  .navbarSocialMediaNav li a:-moz-any-link {
    font-size: 2rem;
    color: #fff;
  }
  .navbarSocialMediaNav li a:any-link {
    font-size: 2rem;
    color: #fff;
  }
}

.split {
  position: relative;
  width: 50%;
  float: left;
  height: 100vh;
}

@media (max-width: 75em) {
  .split {
    position: unset;
    width: 100%;
    float: none;
  }
}

.split__left {
  background-repeat: no-repeat;
  background-image: url(../images/bg-intro.svg);
  background-size: 100% 135%;
}

@media (max-width: 75em) {
  .split__left {
    background-size: 100% 75vh;
    position: relative;
  }
}

.split__right {
  background-color: #fff;
  padding: 5rem;
}

@media (max-width: 75em) {
  .split__right {
    padding: 0;
  }
}

.split__img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 75em) {
  .split__img {
    top: 40%;
  }
}

.split__img img {
  height: 35rem;
  width: auto;
}

@media (max-width: 75em) {
  .split__img img {
    height: 24rem;
  }
}

.content {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  padding: 3rem;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media (max-width: 75em) {
  .content {
    position: static;
    padding: 1rem;
    -webkit-transform: none;
            transform: none;
    margin-top: -40%;
  }
}

.signUp {
  margin: 3rem;
}

.signUpTitle {
  font-family: "Raleway", sans-serif;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.signUpBtn {
  padding: 1rem;
  display: inline-block;
  text-align: center;
  border-radius: 0.6rem;
  width: 13rem;
  padding-bottom: 1.4rem;
  text-decoration: none;
  color: #fff;
  margin-left: 0.7rem;
  font-size: 1.8rem;
  -webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
  background-color: #05d69b;
}

@media (max-width: 75em) {
  .signUpBtn {
    margin-top: 1rem;
    width: 13rem;
  }
}

.signUpInput {
  width: 25rem;
  height: 5rem;
  border-radius: 0.3rem;
  border: 0;
  -webkit-box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.2);
}

.footer {
  position: absolute;
  right: 4vw;
  top: 84vh;
}

@media (max-width: 75em) {
  .footer {
    position: static;
    margin-top: 20%;
    margin-left: 70%;
  }
}

.footer a {
  font-size: 1.1rem;
}
/*# sourceMappingURL=main.css.map */